# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.pb.go
*.pb.json.go
protogen
vts/plugins/scheme-tpm-enacttrust/test/tokens/*.token
vts/plugins/scheme-tpm-enacttrust/test/cmd/gen-token
vts/plugins/bin
vts/cmd/vts-service
provisioning/cmd/provisioning-service
provisioning/plugins/bin/
provisioning/decoder/*.pb.json.go
verification/cmd/verification-service
**/mocks/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
