# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
policy/cmd/polcli/polcli
protogen
provisioning/cmd/provisioning-service/provisioning-service
scheme/bin
plugin/test/bin
scheme/enacttrust/test/tokens/*.token
scheme/tpm-enacttrust/test/cmd/gen-token/gen-token
verification/cmd/verification-service/verification-service
vts/cmd/vts-service/vts-service
deployments/docker/.built
deployments/docker/.bin
integration-tests/.built
__generated__
__pycache__
__debug_bin
management/cmd/management-service/management-service

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# ctags files
tags

.ipynb_checkpoints
