##############################################################################
# Veraison Deployment Configuration
#
# Note: this uses Bash syntax, however there is no need to export variables
#       here, as this file will be sourced with set -a
##############################################################################
# shellcheck disable=SC2034

# The ports on which services will be listening.
VTS_PORT=${VTS_PORT:-50051}
PROVISIONING_PORT=${PROVISIONING_PORT:-8888}
VERIFICATION_PORT=${VERIFICATION_PORT:-8080}
MANAGEMENT_PORT=${MANAGEMENT_PORT:-8088}

# The host the services will be running on.
VERAISON_HOST=${VERAISON_HOST:-localhost}

# The user Veraison services will be run as by system systemd.
# (note: this will not be used when starting via start-tmux, start-term, or
# user systemd. In those cases, the services will aways run as $USER.)
VERAISON_USER=${VERAISON_USER:-veraison}

# Location of certs to be used by veraison services; there must be a cert and
# corresponding key for each service (e.g. vts.crt and vts.key for
# vts-service), and a rootCA.crt that was used to sign the service certs.
VERAISON_CERTS=${VERAISON_CERTS:-}

# vim: set ft=bash:
