[Unit]
Description=Veraison Trusted Services server
After=network.target

[Service]
Type=exec
ExecStart=${VERAISON_BIN_DIR}/vts-service --config ${VERAISON_CONFIG_DIR}/services/config.yaml
ExecStartPost=/usr/bin/sleep 0.5
Restart=always

[Install]
WantedBy=default.target

# vim: set ft=systemd:
