[Unit]
Description=Veraison provisioning API server
After=veraison-trusted.service

[Service]
Type=exec
ExecStart=${VERAISON_BIN_DIR}/provisioning-service --config ${VERAISON_CONFIG_DIR}/services/config.yaml
Restart=always

[Install]
WantedBy=default.target
Requires=veraison-trusted.service

# vim: set ft=systemd:
