verification:
  listen-addr: {{ "localhost:8080" | env_override('VERIFICATION_LISTENING_ADDRESS_AND_PORT')}}

vts:
  server-addr: docker-vts-1.docker_verification-network:{{ "50051" | env_override('VTS_VERIFICATION_LOCAL_IP_ADDRESS_PORT') }}