##############################################################################
# Veraison Deployment Configuration
#
# Note: this uses Bash syntax, however there is no need to export variables
#       here, as this file will be sourced with set -a
##############################################################################
# shellcheck disable=SC2034

# The ports on which services will be listening.
VTS_PORT=${VTS_PORT:-50051}
PROVISIONING_PORT=${PROVISIONING_PORT:-9443}
VERIFICATION_PORT=${VERIFICATION_PORT:-8443}
MANAGEMENT_PORT=${MANAGEMENT_PORT:-10443}

# The host the services will be running on.
VERAISON_HOST=${VERAISON_HOST:-localhost}

# The user Veraison services will be run as by system systemd.
# (note: this will not be used when starting via start-tmux, start-term, or
# user systemd. In those cases, the services will aways run as $USER.)
VERAISON_USER=${VERAISON_USER:-veraison}

VERAISON_GROUP=${VERAISON_GROUP:-veraison}

# Location of certs to be used by veraison services; there must be a cert and
# corresponding key for each service (e.g. vts.crt and vts.key for
# vts-service), and a rootCA.crt that was used to sign the service certs.
VERAISON_CERTS=${VERAISON_CERTS:-}

VERAISON_BIN_SUBDIR=/usr/bin
VERAISON_CERTS_SUBDIR=/etc/veraison/certs
VERAISON_CONFIG_SUBDIR=/etc/veraison/config
VERAISON_ENV_SUBDIR=/etc/veraison/env
VERAISON_LOGS_SUBDIR=/var/log/veraison
VERAISON_PLUGINS_SUBDIR=/usr/bin
VERAISON_SIGNING_SUBDIR=/etc/veraison/signing
VERAISON_STORES_SUBDIR=/usr/share/veraison/stores
VERAISON_SYSTEMD_SYS_SUBDIR=/etc/systemd/system
VERAISON_SYSTEMD_USER_SUBDIR=/etc/systemd/user
VERAISON_TMUX_SUBDIR=/tmp

# vim: set ft=bash:
