# See https://www.keycloak.org/server/all-config for all alvailable configuration.
http-enabled=true
http-port=${KEYCLOAK_PORT}
hostname-strict=false
proxy-headers=xforwarded
db=postgres
db-username=${RDS_USER}
db-password=${RDS_PASSWORD}
db-url-host=${RDS_HOST}
db-url-port=${RDS_PORT}
