plugin:
  backend: go-plugin
  go-plugin:
    dir: ../../../scheme/bin/
ta-store:
  backend: sql
  sql:
    driver: sqlite3
    datasource: /veraison/stores/vts/ta-store.sql
en-store:
  backend: sql
  sql:
    driver: sqlite3
    datasource: /veraison/stores/vts/en-store.sql
po-store:
  backend: sql
  sql:
    driver: sqlite3
    datasource: /veraison/stores/vts/po-store.sql
po-agent:
  backend: opa
vts:
  server-addr: vsock://0:50051
ear-signer:
  alg: ES256
  key: ./skey.jwk
logging:
  level: debug
