# This config file assumes the service is being run directly from its build
# location and that the stores have need initialized under /tmp/ (this is done
# automatically if run via  ./run-vts script.
plugin:
  backend: go-plugin
  go-plugin:
    dir: ../../../scheme/bin/
po-store:
  backend: sql
  sql:
    driver: sqlite3
    datasource: /tmp/po-store.sql
store:
  dbms: sqlite3
  dsn: file::memory:?cache=shared
  trace-sql: false
po-agent:
  backend: opa
vts:
  server-addr: 127.0.0.1:50051
  tls: true
  cert: ../../../deployments/docker/src/certs/vts.crt
  cert-key: ../../../deployments/docker/src/certs/vts.key
  ca-certs:
      - ../../../deployments/docker/src/certs/rootCA.crt
ear-signer:
  alg: ES256
  key: ./skey.jwk
coserv-signer:
  use: true
  alg: ES256
  key: ./skey.jwk
logging:
  level: debug
